:host{
--ion-background-color: rgb(233, 232, 162) !important;
}

.texto{
  
  font-size: 13px;
}

.texto-centralizado{

  text-align: center;
}
.correios-logo{
  width: 85px !important;
  margin: -5% !important;
  top: -80px !important;
  left: 420px !important;
  position: relative;

}

@media screen and (max-width: 600px) {
  ion-title{

    font-size: 17px !important;
    padding-inline: 59px !important;
    text-align: start !important;
    top: 24px !important;
    position: relative !important;
  }

  .correios-logo{
    position: relative !important;
    width: 104px !important;
    margin: -5% !important;
    top: 20px !important;
    left: 131px !important;
  }
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}





